// Estilos generales
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
      background-color: #0056b3;
  }
}

// Estilos específicos para el contenido del taller
.taller-info {
  text-align: center;
}

.date-info {
  font-style: italic;
}

@media (max-width: 768px) {
  .container {
      padding: 15px;
  }
  h1 {
      font-size: 30px;
  }
  p {
      font-size: 16px;
  }
  .btn {
      font-size: 16px;
      padding: 10px 20px;
  }
}
