<div class="container mt-5">
  <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
          <h1>Bienvenido al Taller de Angular</h1>
          <p class="lead">Explora el poder de Angular y aprende a construir aplicaciones web y moviles modernas y dinámicas.</p>
          <p>Fecha: Lunes y miercoles durante el primer semestre de 2024 </p>
          <p>Horario: 6:30pm - 8:00 PM</p>
          <p>Lugar: Lunes: Aula 309, Edificio C y miercoles: 315, Edificio A </p>
          <a href="/about" class="btn btn-primary btn-md mt-5">Ver más detalles</a>
      </div>
  </div>
</div>

