<body>
  <div class="container">
      <h1>Acerca de Nosotros</h1>
      <img src="https://miro.medium.com/v2/resize:fit:1200/1*lRkG_R6jCK9aMzYL0Fc7lw.png" alt="ionic y angular"
          class="about-us-img">
      <p>Somos un salón dedicado al aprendizaje y desarrollo de aplicaciones móviles utilizando las últimas tecnologías
          como Angular y Ionic. Nuestro objetivo es capacitar a nuestros estudiantes en la creación de aplicaciones
          modernas y funcionales para dispositivos móviles.</p>
      <p>Con el conocimiento adquirido en Angular, nuestros estudiantes pueden construir interfaces de usuario
          interactivas y dinámicas, mientras que con Ionic pueden llevar esas aplicaciones a múltiples plataformas
          móviles como iOS y Android.</p>
      <p>¡Únete a nosotros y comienza tu viaje en el emocionante mundo del desarrollo de aplicaciones móviles!</p>
  </div>
</body>
