<body>
  <div class="container">
      <h1>Formulario de Inscripción</h1>
      <form action="#" method="post">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>

          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" name="email" required>

          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

          <input type="submit" value="Enviar">
      </form>
  </div>
</body>
