<!-- Inicio de la barra de navegación -->
<nav class="navbar navbar-expand-lg bg-secondary py-2 px-4">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">LUIS HERNANDEZ</a> <!-- Elemento de marca -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> <!-- Botón para inicio -->
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav text-center"> <!-- Contenedor de enlaces de navegación -->
              <a routerLink="" class="nav-link text-uppercase" aria-current="page" href="#">Inicio</a> <!-- Enlace de Inicio -->
              <a routerLink="about" class="nav-link text-uppercase" href="#">Nosotros</a> <!-- Enlace de Nosotros -->
              <a routerLink="contact" class="nav-link text-uppercase" href="#">Contacto</a> <!-- Enlace de Contacto -->
              <a routerLink="posts" class="nav-link text-uppercase" aria-disabled="true">Publicaciones</a> <!-- Enlace de Publicaciones -->
          </div>
      </div>
  </div>
</nav>
<!-- Fin de la barra de navegación -->


<footer class="w-100 d-flex align-items-center justify-content-center flex-wrap fixed-bottom bg-secondary text-white"> <!-- Pie de página -->
 <p class="pt-3 px-3">© LUIS FERNADNO HERNANDEZ PEREZ. Todos los derechos reservados.</p>
</footer>


