

.navbar-brand {
    font-size: 24px;
    color: #fff; // Color del texto de la marca
    text-decoration: none; // Quitar subrayado del enlace
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto; // Mueve los elementos al extremo derecho
}

.nav-link {
    color: #fff; // Color del texto de los enlaces
    text-decoration: none; // Quitar subrayado del enlace
    padding: 8px 12px;
    transition: color 0.3s ease; // Transición suave de color al pasar el cursor
    &:hover {
        color: #e9ecef; // Color del texto al pasar el cursor
    }
}
