
.publicacion-container {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
}

.publicacion-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.publicacion-body {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
