<!-- Inicio del bucle *ngFor para iterar sobre las publicaciones -->
<div *ngFor="let publicacion of publicaciones" class="publicacion-container">
  <h3 class="publicacion-title">{{ publicacion.title }}</h3> <!-- Título de la publicación -->
  <p class="publicacion-body">{{ publicacion.body }}</p> <!-- Cuerpo o contenido de la publicación -->
</div>
<!-- Fin del bucle *ngFor -->



